
.experience table
{
	xborder-spacing:0px;
	xcellpadding:0px;
	xcellspacing:0px;
	background:white;
	margin-bottom:10px;
}

.education table
{
	xborder-spacing:0px;
	xcellpadding:0px;
	xcellspacing:0px;
	background:white;
	margin-bottom:10px;
}

.candidatePicture {
	margin-top:7%;
}

.network table
{
	xborder-spacing:0px;
	xcellpadding:0px;
	xcellspacing:0px;
	background:white;
	margin-bottom:10px;
}

.candidateProfile h2 {
	font-weight: 700;
}

#profileNetwork {
	overflow-y: auto;
}

.network table
{
	width:100%;
	/*border: 1px solid #b5b5b5;*/
	border-collapse: collapse;
}

#dealTablePanel table#dealsTable {
  xxmargin: 0px 22px;
  width: 97%;
  overflow: scroll;
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  background: #ffffff;
}

#dealTablePanel #exclusions
{
	font-size:12px;
	color:#333333;
	display:inline-block;
}

.dealTableContainer {
	overflow: auto; 
	height: 124px;
}

.innerProfile
{
	display:inline-block;
	width:95%;
	margin-left:22px;
	height:75%;
	margin-top:6px;
}

.innerProfile .network td
{
	xxborder-bottom: 1px solid #333333;
}

.innerProfile .network td:first-child
{
	white-space: nowrap;
	width:260px;
}

.network tr.hdr
{
	xxbackground: url(../tr-header.gif) top left no-repeat !important;
	font-weight: bold;
	text-align: left;
	background-color:#f1f1f1;
}

.network tr.hdr td
{
	padding-left:8px;
	font-size:12px;
}

#networksTable tr
{
	border-top:1px solid #b5b5b5;
}

#networksTable tr td
{
	padding-left:8px;
	font-size:12px;
}

.profileTab {
	display:inline-block;
	height:26px;
	min-width:111px;
	color:white;
  	/*background: url("../images/tab-unselected.png") top left no-repeat;*/
  	background: #999;
  	border-radius: 10px 10px 0 0;
	font-size: 1.25em;
  	text-align: center;
  	cursor:pointer;
  	margin-left: 3px;
  	line-height:26px;
  	font-weight:bold;
  	padding: 0 10px;
}
.profileTab:hover {
	background: #000;
}
.profileTab.active {
	background: #000;
}

.profileTab.selected {
  	background: url("../images/tab-selected.png") top left no-repeat;
}

#outerProfile > * {
    vertical-align:top; 
}

#profileHome
{
	overflow: auto;
	xxmargin-bottom: 10px;
	margin-top:8px;
}


.profileInnerContent {
	display:inline-block;
	padding: 0px 20px 0px 20px;
	width: 45%;
	/*height: 150px;*/
  	overflow: auto;
  	vertical-align:top;
}

.wideProfileInnerContent {
	display:inline-block;
	padding: 30px 0 0;
	/*height: 290px;*/
  	overflow: auto;
  	vertical-align:top;
	width:70%;
	/*margin: 0 5%;*/
}
#financialsRight
{
	padding: 30px 2% 0 0;
	float: right;
}

.innerContentTable
{
	font-size:11px;
	width:100%;
	border-spacing:0px 5px;
}

.profileHomeLabel {
	font-size:1.2em;
	font-weight:bold;
	height: 22px;
}

.profileHomeLabel a
{
	margin-right:6px;
}


.candidateProfile {
	display:inline-block;
	/* background: url(bg-candidate-large.gif) top left no-repeat; */
	background-color:white;
	height:85%;
	width:100%;
	border-radius: 6px;
	color: #333333;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid #b5b5b5;
	min-height: 400px;
	
}

#candidateName
{
	font-size: 24px;
	font-weight:bold;
}

#contactsLabel
{
	xxmargin: 0px 0px 10px 224px;
	margin: 0px 0px 10px 0px;
	font-size: 18px;
	font-weight:bold;
	position:absolute;
	top:6px;
	right:160px;
}

#corporateTab
{
	margin-top:15px;
}

#corporateTab td
{
	height:15px;
	vertical-align:top;
}

#dealTablePanel
{
	margin-left: 2%;
	margin-top: 5px; 
	width: 98%; 
	height: 139px;
}

#dealsTable tbody tr td.link				{	text-decoration:underline; cursor:pointer;	}
#dealsTable tbody tr td:nth-child(3)		{	text-align:center;							}
#dealsTable tbody tr td:nth-child(4)		{	text-align:center;							}
#dealsTable tbody tr td:nth-child(5)		{	text-align:center;							}
#dealsTable tbody tr td:nth-child(6)		{	text-align:center;							}
#dealsTable tbody tr td:nth-child(7)		{	text-align:center;							}

.candidatePicture {
	display:inline-block;
	border: 1px solid #bbbbbb;
	width:14%;
}

.candidateName
{
	xxpadding: 5px;
	margin-top:18px;
	position:relative;
}

.candidateInnerTable
{
	width: 100%;
	font-size: 1.2em;
}

.candidateInnerTable tbody tr:nth-child(3)
{
	xxheight:33px;
	xxline-height:33px;
	xxvertical-align:bottom;
}

.innerProfile td { height:28px; font-size:14px;}

.innerProfile td:first-child {  
  white-space: nowrap;
  width:15%;
}


.innerProfile td:nth-child(n+2)
{  
	padding-left:10px;
}

#candidateExperience.profileInnerContent
{
	height:280px;
}

#candidateEducation.profileInnerContent
{
	height:280px;
}

#candidateExperience .innerContentTable
{
	table-layout:fixed;
}

#careerHistoryTable tr td
{
/* 	font-size:12px; */
}

#careerHistoryTable tr td:nth-child(1)
{
	white-space:normal;
	min-width:300px;
}

#careerHistoryTable tr td:nth-child(2)
{
	padding-left:15px; /* over-ride */
	xxwidth:100px;
}

#candidateEducation table
{
	table-layout:fixed;
	width:100%;
	border-spacing:0px 5px;
}

#educationTable tr td
{
	font-size:12px;
	height:15px;
	vertical-align:top;
}

#educationTable tr td:nth-child(1)
{
	width:300px;
	white-space:normal;
}

#educationTable tr td:nth-child(2)
{
	padding-left:15px; /* over-ride */
}

#PageOuter
{
	/*height:638px;  over-ride */
	position:relative;
}

.buttonReturn  /* over-ride */
{
	/*position:absolute;*/
	bottom:7%;
	left:5px;
	cursor:pointer;
	margin:0;
}

.corporateInfoPanel {
	
	display: block;
    width: 778px;
    background-color: white;
    margin-top: 10px;
    
    padding-top:10px;
    
    color: #333333;
    overflow-x: hidden;
    overflow-y: auto;
}

.corporateInfoPanel .corporateInnerContent
{
	white-space:nowrap;
}

.corporateInnerPanel {
	
	vertical-align:top;
	xxwidth:340px;
	padding: 0px 20px 0px 20px;
	margin-bottom:15px;
}

.corporateInnerPanel td {
    height: 28px;
    font-size: 14px;
}

.corporateInnerPanel td:first-child
{  
  white-space: normal;
  width:180px;
}


.corporatePanelHdr
{
	margin: 0px 0px 10px 20px;
	font-size: 18px;
	font-weight:bold;
	display:block;
	
}

.refNameLabel {
	
	font-size:1.2em;
	height: 22px;
}

#profileRefsTable {
	
	border:0;
}

#profileRefsTable td{
	
	height:20px;
}

#profileRefsTable td:first-child{
	text-decoration:underline;
	width:260px;
	cursor:pointer;
	line-height:32px;
}

#profileRefsTable span {
	
	font-weight: bold;
}

#sharedPETable td{
	padding-left:8px;
}


#sharedPETable td:first-child{
	text-decoration:underline;
	width:260px;
	cursor:pointer;
}

#candidateCorporateTable {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
#candidateCorporateTable tr {
	
	vertical-align:top;
	line-height:22px;
}
#candidateCorporateTable td {
  width: 400px;
}
#candidateCorporateTable td+td {
  width: auto;
}

#candidateBasicTable td:first-child{
	width:150px;
}

#revChartDiv
{
	float:left;
	width:48%;
	height:50%;
}
#EBITDAChartDiv
{
	float:right;
	width:48%;
	height:50%;
}
#revChart
{
	width: 100%;
	height:100%;
}

#EBITDAChart
{
	width: 100%;
	height:100%;
}
@media screen and (max-width: 1024px) {
	#financialsRight {
		padding: 30px 0 0;
	}
	.wideProfileInnerContent {
		width: 100%;
	}
}

@media screen and (max-width: 767px) {
    #revChartDiv {
    	float: none;
    	width: 100%;
    	margin-bottom: 10px;
    }
    #revChart {
    	width: 100% !important;
    	height: auto !important;
    }
    #EBITDAChartDiv {
    	float: none;
    	width: 100%;
    	margin-bottom: 10px;
    }
    #ebitdaChart {
    	width: 100% !important;
    	height: auto !important;
    }
    .wideProfileInnerContent {
    	width: 100%;
    	padding: 0;
    	margin: 0;
    }
    .profileInnerContent {
    	width: 100%;
    	padding: 0;
    }
    .profileInnerContent table{
    	width: 100%;
    }
    #financialsRight {
    	float: none;
    	width: 100%;
    	padding: 20px 0 0;
    }
    .innerProfile {
    	width: 100%;
    	margin-left: 0;
    }
    .innerProfile td:nth-child(n+2) {
    	padding-left: 2px;
    }
    .innerProfile .network td:first-child {
    	white-space: inherit;
    	width: auto;
    }
    #candidateContact {
    	float: none !important;
    }
    #candidateEducation table {
    	table-layout: auto;
    }
    #educationTable tr td {
    	display: table-row;
    }
    #educationTable tr td:nth-child(1) {
    	width: auto;
    }
    #candidateCorporateTable td {
    	width: auto;
    }
    .innerContentTable {
    	table-layout: fixed;
    }
    #careerHistoryTable tr td {
    	border: 1px solid #000;
    	text-align: center;
    }
    #careerHistoryTable tr td:nth-child(1) {
    	min-width: auto;
    	width: auto;
    }
    #careerHistoryTable tr td:nth-child(2):empty {
			padding: 0;
			width: 0;
			border: none;
    }
    .corporateInnerPanel {
    	padding: 0px 10px;
    }
    .corporateInnerPanel td:first-child {
    	white-space: inherit;
    	width: 50%;
    }
    #profileReferees h2 {
    	margin-top: 0;
    }
    #PlcBasicLeft {
    	float: none !important;
    }
    #PlcBasicLeft table {
    	width: 100%;
    }
    #profileTabs {
    	border-radius: 6px;
    	overflow: hidden;
    	padding-left: 0 !important;
    }
    .profileTab {
			width: 100%;
			height: 35px;
			line-height: 35px;
			border-radius: 0;
			margin-left: 0;
			border-bottom: 1px solid #fff;
    }
    .profileTab:last-child {
			border-bottom: none;
    }
}
