#revChartDiv {
    width:44%;
    height:31%;
    display: inline-block
}
#EBITDAChartDiv {
    width:44%;
    height:31%;
    display: inline-block
}


#companyOther {
    width:100%;
    padding-top:5%;
    /*min-height: 84%;*/
    /*xxmargin: 0px 22px;*/
    font-size:12px;
	color:#333333;
	display:inherit;
    overflow: auto;
}

#companyInfoTable {
    xxmargin: 0px 22px;
    width: 100%;
    /*border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;*/
    /*background: #ffffff;*/
}

#companyInfoTable tr :first-child{
    width:200px;
}