﻿
.experience table
{
	xborder-spacing:0px;
	xcellpadding:0px;
	xcellspacing:0px;
	background:white;
	margin-bottom:10px;
}

.education table
{
	xborder-spacing:0px;
	xcellpadding:0px;
	xcellspacing:0px;
	background:white;
	margin-bottom:10px;
}

.network table
{
	xborder-spacing:0px;
	xcellpadding:0px;
	xcellspacing:0px;
	background:white;
	margin-bottom:10px;
}

#profileNetwork {
	overflow-y: auto;
}

.network table
{
	width:100%;
	border: 1px solid #b5b5b5;
	border-collapse: collapse;
}

#dealTablePanel table#dealsTable {
  xxmargin: 0px 22px;
  width: 100%;
  overflow: scroll;
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  background: #ffffff;
}

#dealTablePanel #exclusions
{
	font-size:12px;
	color:#333333;
	display:inline-block;
}

.dealTableContainer {
	overflow: auto; 
	height: 124px;
}

.innerProfile
{
	display:inline-block;
	margin-left:22px;
	margin-top:6px;
}

.innerProfile .network td
{
	xxborder-bottom: 1px solid #333333;
}

.innerProfile .network td:first-child
{
	white-space: nowrap;
	width:260px;
}

.network tr.hdr
{
	xxbackground: url(../tr-header.gif) top left no-repeat !important;
	font-weight: bold;
	text-align: left;
	background-color:#f1f1f1;
}

.network tr.hdr td
{
	padding-left:8px;
	font-size:12px;
}

#networksTable tr
{
	border-top:1px solid #b5b5b5;
}

#networksTable tr td
{
	padding-left:8px;
	font-size:12px;
}

.profileTab {
	display:inline-block;
	height:26px;
	width:111px;
	color:white;
  	background: url("../images/tab-unselected.png") top left no-repeat;
	font-size: 1.25em;
  	text-align: center;
  	cursor:pointer;
  	margin-left: 3px;
  	line-height:26px;
  	font-weight:bold;
}

.profileTab.selected {
  	background: url("../images/tab-selected.png") top left no-repeat;
}

#outerProfile > * {
    vertical-align:top;  
}

#profileHome
{
	overflow: auto;
	xxmargin-bottom: 10px;
	margin-top:8px;
}


.profileInnerContent {
	display:inline-block;
	padding: 0px 20px 0px 20px;
	width: 340px;
	height: 150px;
  	overflow: auto;
  	vertical-align:top;
}

.wideProfileInnerContent {
	display:inline-block;
	padding: 0px 20px 0px 20px;
	/*height: 290px;*/
  	overflow: auto;
  	vertical-align:top;
}

.innerContentTable
{
	font-size:11px;
	width:100%;
	border-spacing:0px 5px;
}

.profileHomeLabel {
	font-size:1.2em;
	font-weight:bold;
	height: 22px;
}

.profileHomeLabel a
{
	margin-right:6px;
}


.candidateProfile {
	display:inline-block;
	/* background: url(bg-candidate-large.gif) top left no-repeat; */
	background-color:white;
	height:350px;
	width: 781px;
	border-radius: 6px;
	color: #333333;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid #b5b5b5;
	
}

#candidateName
{
	font-size: 24px;
	font-weight:bold;
}

#contactsLabel
{
	xxmargin: 0px 0px 10px 224px;
	margin: 0px 0px 10px 0px;
	font-size: 18px;
	font-weight:bold;
	position:absolute;
	top:6px;
	right:160px;
}

#profileCareer
{
	margin-top:15px;
}

#profileCareer td
{
	height:15px;
	vertical-align:top;
}

#dealTablePanel
{
	margin-top: 5px; 
	width: 100%; 
	height: 139px;
}

#dealsTable tbody tr td.link				{	text-decoration:underline; cursor:pointer;	}
#dealsTable tbody tr td:nth-child(3)		{	text-align:center;							}
#dealsTable tbody tr td:nth-child(4)		{	text-align:center;							}
#dealsTable tbody tr td:nth-child(5)		{	text-align:center;							}
#dealsTable tbody tr td:nth-child(6)		{	text-align:center;							}
#dealsTable tbody tr td:nth-child(7)		{	text-align:center;							}

.candidatePicture {
	display:inline-block;
	border: 1px solid #bbbbbb;
}

.candidateName
{
	xxpadding: 5px;
	margin-top:18px;
	position:relative;
}

.candidateInnerTable
{
	width: 100%;
	font-size: 1.2em;
}

.candidateInnerTable tbody tr:nth-child(3)
{
	xxheight:33px;
	xxline-height:33px;
	xxvertical-align:bottom;
}

.innerProfile td { height:28px; font-size:14px;}

.innerProfile td:first-child {  
  white-space: nowrap;
  width:400px;
}


.innerProfile td:nth-child(n+2)
{  
	padding-left:20px;
}

#candidateExperience.profileInnerContent
{
	height:280px;
}

#candidateEducation.profileInnerContent
{
	height:280px;
}

#candidateExperience .innerContentTable
{
	table-layout:fixed;
}

#careerHistoryTable tr td
{
	font-size:12px;
}

#careerHistoryTable tr td:nth-child(1)
{
	white-space:normal;
	min-width:300px;
}

#careerHistoryTable tr td:nth-child(2)
{
	padding-left:15px; /* over-ride */
	xxwidth:100px;
}

#candidateEducation table
{
	table-layout:fixed;
	width:100%;
	border-spacing:0px 5px;
}

#educationTable tr td
{
	font-size:12px;
	height:15px;
	vertical-align:top;
}

#educationTable tr td:nth-child(1)
{
	width:300px;
	white-space:normal;
}

#educationTable tr td:nth-child(2)
{
	padding-left:15px; /* over-ride */
}

#PageOuter
{
	height:638px; /* over-ride */
	position:relative;
}

.buttonReturn  /* over-ride */
{
	position:absolute;
	bottom:20px;
	left:5px;
	cursor:pointer;
	margin:0;
}

.corporateInfoPanel {
	
	display: block;
    width: 778px;
    background-color: white;
    margin-top: 10px;
    
    padding-top:10px;
    
    color: #333333;
    overflow-x: hidden;
    overflow-y: auto;
}

.corporateInfoPanel .corporateInnerContent
{
	white-space:nowrap;
}

.corporateInnerPanel {
	
	vertical-align:top;
	xxwidth:340px;
	padding: 0px 20px 0px 20px;
	margin-bottom:15px;
}

.corporateInnerPanel td {
    height: 28px;
    font-size: 14px;
}

.corporateInnerPanel td:first-child
{  
  white-space: nowrap;
  width:180px;
}


.corporatePanelHdr
{
	margin: 0px 0px 10px 20px;
	font-size: 18px;
	font-weight:bold;
	display:block;
	
}

.refNameLabel {
	
	font-size:1.2em;
	height: 22px;
}

#profileRefsTable {
	
	border:0;
}

#profileRefsTable td{
	
	height:20px;
}

#profileRefsTable td:first-child{
	text-decoration:underline;
	width:260px;
	cursor:pointer;
	line-height:32px;
}

#profileRefsTable span {
	
	font-weight: bold;
}

#sharedPETable td{
	padding-left:8px;
}


#sharedPETable td:first-child{
	text-decoration:underline;
	width:260px;
	cursor:pointer;
}

#candidateCorporateTable {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
#candidateCorporateTable tr {
	
	vertical-align:top;
	line-height:22px;
}
#candidateCorporateTable td {
  width: 400px;
}
#candidateCorporateTable td+td {
  width: auto;
}

#candidateBasicTable td:first-child{
	width:150px;
}