﻿.page_common_footer
{	
    width:100%;
    height:30px;
    background:url(../images/bg-headerfooter.gif) bottom left no-repeat;
    clear:both;
    line-height:30px;
    font-size:14px;
    font-weight:bold;
    color:#cccccc;
}

.page_common_footer span
{
	padding-left:22px;
}
