﻿.page_common_header
{	
	width: 100%;
	height: 100px;
	background: url(../images/bg-headerfooter.gif) top left no-repeat;
}

.page_common_header .primarytabs
{
	display:inline-block;
    /*height: 100px;*/
    margin-left: 22px;
}

.page_common_header .primarytabs div
{
    display:inline-block;
    height: 34px;
    line-height:34px;
    vertical-align: bottom;
    font-size: 14px;
    font-weight: bold;
    background: url(../images/primary_off.gif) top left no-repeat;
    border-right: 1px solid #dddddd;
    cursor:pointer;
    color: #666666;
    padding: 0px 10px;
    border-top: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.page_common_header .primarytabs div.active {
    color: #000;
}

.page_common_header .primarytabs div:hover {
    color: #000;
}

.page_common_header .primarytabs div:first-child
{
	border-left: 1px solid #dddddd;
	border-radius: 2px 0px 0px 0px;
}

.page_common_header .primarytabs div:last-child
{
	border-radius: 0px 2px 0px 0px;
}

.page_common_header .primarytabs div.tabon
{
	background: url(../images/primary_on.gif) top left no-repeat;
}

.page_common_header .searchlabel
{
	color:white;
	display:inline-block;
	line-height:100px;
    height: 100px;
    margin-left:4px;
    height: 33px;
    line-height: 33px;
    vertical-align:bottom;
    font-size: 14px;
    font-weight: bold;
    background-color:#282828;
    padding: 0px 14px 0px 18px;
    border-right: 1px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: 2px 0px 0px 0px;
}

.page_common_header .secondarytabs
{
	display:inline-block;
	line-height:100px;
    height: 100px;
}

.page_common_header .secondarytabs div
{
	display:inline-block;
    height: 32px;
    line-height: 32px;
    vertical-align:bottom;
    font-size: 14px;
    font-weight: bold;
    background-color:#333333;
    cursor:pointer;
    color: #666666;
    padding: 0px 10px;
    margin-right:1px;
    margin-bottom:2px;
}

.page_common_header .secondarytabs div:hover
{
	color:white;	
}

.page_common_header .secondarytabs div:first-child
{
	margin-left:1px;
}

.page_common_header .secondarytabs div:last-child
{
	border-radius: 0px 2px 0px 0px;
}

.page_common_header .secondarytabs div.tabon
{
	color:white;
	background-color:#ff6600;
}
@media screen and (max-width: 767px) {

.page_common_header .primarytabs
    {
    width: 100%;
    text-align: center;
    margin-left: 0;
    }

}
