.EnterDiv
{
	width:100%;
	height:55px;
	display:block;
	position:absolute;
	top:57%;
}


#EnterButton
{
	width:199px;
	height:55px;
	margin:auto;
	background:url(../images/Live-Lists-Button.png) top left no-repeat;
	cursor:pointer;
    text-align: center;
}

/* Home page */

#Home
{
    width: 100%;
    /*xxheight: 768px;*/
    height: 100%;
    background: url(../images/bg-home-n100-4.png) top left no-repeat;
	background-size: cover;
    xxcursor:pointer;
    position:relative;
}

#HomeOuter
{
    xxmargin-left: 202px;
    xxxpadding-top: 465px;
    position:absolute;
    left:30%;
    top:47%;
    width:38%;
    height: 100;
}

#HomeInner
{
    padding: 20px 60px 5px 60px;
    background: url(../images/bg-home-panel-top.gif) top left no-repeat;
    xxcolor: #999999;
    color:#bcbcbc;
    font-size: 17px;
    text-align: center;
}

#HomeFoot
{
    background: url(../images/bg-home-panel-bottom.gif) top left no-repeat;
    height: 15px;
}

#loginSplash
{
	display:none;
    xxmargin-left: 202px;
    xxxpadding-top: 465px;
    position:absolute;
    left:30%;
    top:47%;
    width:38%;
}

#loginInner
{
    padding: 20px 60px 5px 60px;
    background: url(../images/bg-home-panel-top.gif) top left no-repeat;
    xxcolor: #999999;
    color:#bcbcbc;
    font-size: 17px;
    text-align: center;
}

#loginFoot
{
    background: url(../images/bg-home-panel-bottom.gif) top left no-repeat;
    height: 15px;
}

#HomeStatus
{
	position:absolute;	
	right:20px;
   	bottom:20px;
    color:#bcbcbc;
}

#HomeVersion
{
   	position:absolute;
   	left:20px;
   	bottom:20px;
   	color:#bcbcbc;
}

#HomeProfile
{
   	position:absolute;
   	bottom:20px;
   	display:block;
   	width:1280;
   	text-align:center;
}

#HomeProfileText
{
   	color:#bcbcbc;
   	display:inline-block;
   	xxmargin-left:auto;
   	xxmargin-right:auto;
   	cursor:pointer;
}

#Terms
{
    margin: 20 20 20 20;
    position: absolute;
    width:96%;
    height:96%;
    background-color: white;
    overflow-y: scroll;
}