/* custom checkbox styles */
.jcf-checkbox {
	vertical-align: middle;
	display: inline-block;
	position: relative;
	overflow: hidden;
	cursor: default;
	background: #fff;
	border: 1px solid #777;
	margin: 3px 3px 0 0;
	height: 19px;
	width: 19px;
}
.jcf-checkbox span{
	position:absolute;
	display:none;
	height:17px;
	width:17px;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')";
	background: url(../images/checkbox-on.gif) 50% 50% no-repeat;
}
.jcf-checkbox input[type="checkbox"] {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	left: 0;
	top: 0;
}
.jcf-checkbox.jcf-checked span{display:block;}
/* common custom form elements styles */
.jcf-disabled {background: #ddd !important;}
/*.jcf-focus, .jcf-focus * {border-color: #f00 !important;}*/