html{
    height:100%;
}
body {
    height:100%;
    margin: 0 auto;

}

.jumbotron {
    max-width: 400px;
    background: url(../images/bg-home-panel-top.gif) top left no-repeat;
     padding-top: 30px;
     padding-bottom: 30px;

    vertical-align: middle;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .text-muted {
    display: block;
    margin-bottom: 15px;
}
.form-signin .form-control {
    position: relative;
    /*height: auto;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 10px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    /*border-top-left-radius: 0;
    border-top-right-radius: 0;*/
}
.form-signin .btn {
    padding: 4px 16px;
    margin-bottom: 10px;
}
.container {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
}
.login-background {
    /*width: 100%;*/
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
    background: url(../images/bg-home-n100-4.png) 50% 65%;
    background-size: cover;
    xxcursor: pointer;
    position: relative;
    padding-top: 10%;
    margin: 0 -15px;
}
.login-background .jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background: #1b1b1b;
    min-height: 220px;
    min-width: 400px;
    padding-bottom: 0;
    padding-top: 0;
}
.popup-holder {
    display: inline;
}
.popup-holder .popup{
    display: none;
}
.popup-active .popup{
    position: absolute;
    top: 53%;
    left: 100px;
    right: 100px;
    transform: translateY(-50%);
    background: #fff;
    color: #000;
    padding: 0 15px 15px 15px;
    border-radius: 10px;
    font-size: 14px;
    max-width: 65%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 30px;
    overflow: hidden;
    max-height: 305px;
}

.popup a {
    color: #337ab7;
    opacity: 1;
    text-shadow: none;
}

.popup a:hover {
    color: #777;
}

.popup .close {
    display: table;
    float: none;
    margin: 0 auto;
}

.popup p {
    font-size: 14px;
}

.popup-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #1b1b1b;
    color: #fff;
    padding: 10px;
    margin: 0 -15px 15px;
}
.popup-body {
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    padding-right: 17px;
    max-height: 176px;
    padding-bottom: 30px;
}
.popup-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 10px;
}
.popup-header h2 {
    text-transform: uppercase;
}

.popup-subheader {
    text-decoration: underline;
}

@media screen and (max-width: 1200px) {
    .login-background {
        background-position: 50% 100%;
    }
}
@media screen and (max-width: 1024px) {
    .login-background {
        -webkit-background-size: 105% 112%;
        background-size: 105% 112%;
    }
    .popup-active .popup{
        top: 50%;
        max-height: 350px;
    }
    .popup-body {
        min-height: 215px;
    }
}
@media screen and (max-width: 768px) {
    .popup-active .popup{
        left: 10px;
        right: 10px;
        max-width: none;
    }
    .login-background {
        -webkit-background-size: 105% 117%;
        background-size: 105% 117%;
    }
    .login-background .jumbotron {
        min-width: 0;
    }
}
@media screen and (max-width: 480px) {
    .login-background {
        -webkit-background-size: 200% 125%;
        background-size: 200% 125%;
    }
}