h1.mainHeading
    {
    margin: 0;
    padding-top: 0px;
    color: #333333;
    height: 2em;
    line-height: 2em;
    font-size: 4em;
    font-weight: bold;
	text-align: center;
    }

h2.subHeading
    {
    margin: 0;
    padding-top: 0px;
    color: #333333;
    /*height: 3em;*/
    line-height: 2em;
    font-size: 3em;
    font-weight: bold;
	text-align: center;
    }

h2.subHeading-left
    {
    margin: 0;
    padding-top: 0px;
    color: #333333;
    /*height: 3em;*/
    line-height: 2em;
    font-size: 3em;
    font-weight: bold;
	text-align: left;
    }

#riseFall
	{
		float: left;
		width:49%;
		height:60%;
        max-height: 66vh;
        border-style: solid;
        border-width: 1px;
        border-color: #cecece;
        background-color: #dadada;
	padding: 0 10px;
		margin-bottom: 15px;
        overflow-y: scroll !important;
        overflow-x: hidden !important;
	}

#RNS
    {
        float: right;
        width:49%;
        height:60%;
        max-height: 66vh;
        border-style: solid;
        border-width: 1px;
        border-color: #cecece;
        background-color: #dadada;
        overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 10px;
        margin-bottom: 15px;
        font-size: 14px;
    }
#RNS h3
    {
        font-size: 19px;
    }
#Methodology
{
    float: right;
    width:100%;
    margin-bottom: 10px;
    height:20%;
    border-style: solid;
    border-width: 1px;
    border-color: #cecece;
    background-color: #dadada;
    padding: 0 10px;
}
#Methodology > p
{
	font-size: 1.5em;
}

.RNSItem
{
    padding-top:8px;
    font-size: 15px;
}

.RNSItem > a
{
    padding-top:8px;
    color: black;
    font-size: 15px;
}

@media screen and (max-width: 1200px) {
#RNS
    {
        font-size: 12px;
    }
@media screen and (max-width: 767px) {

#riseFall
    {
        width: 100%;
        padding: 10px;
        min-height: 375px;
    }
#riseFall h3
    {
        margin: 0 0 10px;
    }

#RNS
    {
        width: 100%;
        padding: 10px;
        min-height: 375px;
    }
h2.subHeading
    {
        line-height: 1.2em;
    margin-bottom: 15px;
    }
}
