.pageinner
{	
	padding:22px;
}

.pageinner .filtersouter
{	
	/*xxwidth:650px;*/
	xxfloat:right;
	width:100%;
}

.pageinner .filtersouter div.filtertabline
{
	xxwidth:650px;
	width:100%;
	height:35px;
	line-height:44px;
}

.pageinner .filtersouter .filtertabline div.filtertab
{
	float:right;
	clear:right;
	background:url(../images/bg-tab.png) top left no-repeat;
	width:100%;
	height:35px;
	line-height:44px;
	cursor:pointer;    
}

.pageinner .filtersouter .filtertab span
{
    color:#ffffff;
    font-size:14px;
    font-weight:bold;
    padding-left:20px;
}

#filterContent
{
    background: url(../images/bg-filters-large.gif) top left no-repeat;
	background-size:cover;
    xxmargin-top: 20px;
    margin-right: 22px;
    xxwidth:650px;
    width:100%;
    xxheight:240px;
    height:250px;
    xxoverflow-x:scroll;
    xxoverflow-y:hidden;
    position:relative;
    -webkit-overflow-scrolling: touch;
}

/* this div is just to draw a background so the scroll bar appears to sit outside of it */
#filterContent .filtercontentbg
{
	position:absolute;
	top:1px;
	left:1px;
	right:1px;
	height:245px;
	background:white;
	border:1px solid #b8b5b5;
	border-radius:6px;
}
#filterContent div div p
{
    font-weight: bold;
    font-size: 12px;
}

#filterContent div
{
	/*min-width:10%;*/
	/*xxwidth:950px;*/ /* 22 margin + 15 padding times 2 */
	margin-top:5px;
	margin-left:5px;
	position:relative;
	xxmargin-top:2px;
	/*height:230px;*/
	display:block;
	float:left;
	min-width:14%;
	/*padding-top:4px;*/
	/*overflow-y: scroll;*/
}

#filterContent div div
{
	/*height:215px;*/
	/*overflow-y: scroll;*/
	float:none;
    margin-left: 0;
}
#filterContent :nth-child(1)
{
	/*display: inline;*/
}

#filtercontent div:nth-child(1)
{
    display: inline;
    margin-top:4px;
    height: auto;
}
#filtercontent .sub_parent
{
    display: block;
    /*margin-left: 15px;*/
}
.js-open-close > .labels {
    background: url(../images/search-checkbox-arrow.png) 11px 50% no-repeat;
    padding-left: 30px;
}
.js-open-close.opened > .labels{
    background: url(../images/search-checkbox-arrow-down.png) 11px 50% no-repeat;
}
.js-slider {
    display: block;
    padding-left: 30px;
}

.input-custom-holder {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 19px;
    width: 19px;
    margin-bottom: 3px;
}
.input-custom-holder input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}
.input-custom-holder input + .fake-input{
    display: block;
    height: 100%;
    width: 100%;
    background: url(../images/checkbox-off.gif) no-repeat;
}
.input-custom-holder input:checked + .fake-input{
    background: url(../images/checkbox-on.gif) no-repeat;
}

#filterContent div div div /* the scrollable div for lists */
{
    width:110px;
    height:212px;
    xxborder:0px;
    xxbackground-color:aqua;
    xxbackground: url(../images/checkbox-on.gif) top left no-repeat;
    xxcursor:pointer;
    xxmargin:-1px 6px 0px 0px;
    overflow-y:scroll;
    margin-left:6px;
}

#filterContent div div img
{
    width:19px;
    height:19px;
    border:0px;
    background: url(../images/checkbox-on.gif) top left no-repeat;
    cursor:pointer;
    margin:0px 6px 0px 0px;
}

#filterContent div div img.on
{
    
}

#filterContent div div img.off
{
    background: url(../images/checkbox-off.gif) top left no-repeat;
}

#filterContent div img.on
{
    
}

#filterContent div img.off
{
    background: url(../images/checkbox-off.gif) top left no-repeat;
}

#filterContent div div img.section
{
    background: url(../images/search-checkbox-arrow.png) center center no-repeat;
}

#filterContent div div img.sectionopen
{
    background: url(../images/search-checkbox-arrow-down.png) center center no-repeat;
}

.pageinner .filtersouter .filtercontent table tbody tr td p
{
    margin:5px 0px 7px 0px;
    padding:0;
    color:#333333;
    font-size:14px;
    font-weight:bold;
    margin-left:6px;
}

.pageinner .filtersouter .filtercontent table tbody tr td span
{
    cursor:pointer;
    position:relative;
    top:-6px;
}

.pageinner .search
{
	margin-top:4px;
	width:100%;
	xxheight:42px;
	height:51px;
	display:inline-block;
}

.pageinner .search .dealsizelabel
{
	background:url(../images/button-blank.png) top left no-repeat;
	width:141px;
	height:51px;
	line-height:51px;
	display:inline-block;
	vertical-align:top;	
}

.pageinner .search .dealsizelabel span
{
	color:#ffffff;
	font-size:14px;
	font-weight:bold;
	padding-left:20px;
	height:51px;
	line-height:51px;
	vertical-align:top;
}

.pageinner .search .selectbox
{
    width:155px;
    height:42px;
    line-height:51px;
    xxwhite-space:nowrap;
    xxoverflow:hidden;
    background:url(../images/search-select.gif) top left no-repeat;
    display:inline-block;
    vertical-align:top;
    margin-top:4px;
}

.pageinner .search .selectbox select
{
    -webkit-appearance: none;
    background: transparent;
    width: 183px;
    height: 18px;
    border: 0;
    padding: 0;
    margin: 12px 0px 0px 10px;
    font-size: 14px;
    line-height: 18px;
    vertical-align:top;
}

.pageinner .search .orderbylabel
{
	background:url(../images/search-orderby.png) top left no-repeat;
	width:141px;
	height:51px;
	line-height:51px;
	display:inline-block;
	margin-left:10px;
}

.pageinner .search .orderbylabel span
{
	color:#ffffff;
	font-size:14px;
	font-weight:bold;
	padding-left:20px;
}

/* alternative year-only dropdowns for search page */
/*
.selectBox div
    {
    margin: 12px 0px 0px 12px;
    font-size: 14px;
    line-height: 18px;
    display: inline;
    }

select#dateFrom, select#dateTo { width: 135px; margin-left: 5px; }

.mL { margin-left: 8px; }
.mT { margin-top: 20px; } */

.pageinner .search .searchbutton
{
	position:relative;
	right:5px;
	top:0px;
	xxmargin-left: 6px;
	width:162px;
	height:50px;
	display:inline;
	float:right;
	xxvertical-align:top;
	background:url(../images/search-button.png) top left no-repeat;
	cursor:pointer;
}

.pageinner .search .searchbutton span
{
	height:51px;
	line-height:51px;
	margin-left:15px;
	font-weight:bold;
	font-size:14px;
	color:white;
}

/* hide the candidate serial no. column */
#resultsTable tr td:first-child
{
	/*display:none;*/
}

#resultsTable tr td:nth-child(3)	{	text-align:center;	}	/* deals */
#resultsTable tr td:nth-child(4)	{	text-align:center;	}	/* heat */
#resultsTable tr td:nth-child(5)	{	text-align:center;	}	/* current status */
#resultsTable tr td:nth-child(7)	{	text-align:center; white-space: nowrap;}	/* available media */
#resultsTable tr td:nth-child(10)	{	text-align:center;	}	/* sector */
#resultsTable tr td:nth-child(11)	{	text-align:center;	}	/* advanced sector */
#resultsTable tr td:nth-child(12)	{	text-align:center;	}	/* environment */
#resultsTable tr td:nth-child(12)	{	text-align:center;	}	/* transaction */
#resultsTable tr td:nth-child(13)	{	text-align:center;	}	/* gender */
#resultsTable tr td:nth-child(14)	{	text-align:center;	}	/* ethnicity */
#resultsTable tr td:nth-child(15)	{	text-align:center;	}	/* relocatable */

#resultsTable tr td:nth-child(7) img /* available media */
{
	margin-left:auto;
	margin-right:auto;
}

#AdvancedInner
{
	xxbackground:url(../images/search-candidate-advanced-bg.gif) top left no-repeat;
	background-image:none;
	background-color:#e6e6e6;
	border:1px solid #bfbfbf;
	border-top:2px solid #bfbfbf;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	height:145px;
}

#AdvancedExitsLabel
{
	
}

#AdvancedDealsLabel
{
	
}

#statusTable img#Exits_All_ {	margin-left:15px;	margin-right:6px;	}
#statusTable img#Exits_0_ 	{	margin-left:15px;	margin-right:6px;	}
#statusTable img#Exits_1_ 	{	margin-left:15px;	margin-right:6px;	}
#statusTable img#Exits_2_ 	{	margin-left:15px;	margin-right:6px;	}
#statusTable img#Exits_3_ 	{	margin-left:15px;	margin-right:6px;	}

#fieldTable
{
	border-spacing:10px 0px;
	display:inline-block;
}

#fieldTable tr:first-child td
{
	padding-left:0px;
	text-indent:4px;
}

#fieldTable tr:last-child td
{
	background-color:white;
	border:1px solid #bfbfbf;
	padding-left:4px;
}

table#relocatableTable
{
    xxpadding-top: 10px;
    display:inline-block;
    margin-left:6px;
}

#relocatableTable tr td
{
    padding: 0;
    margin: 0;
    height: 20px;
    vertical-align: center;
    font-size: 11px;
    color: #666666;
    font-weight: bold;
}

#relocatableTable img { cursor: pointer; margin: 0px 5px 0px 10px; }
#relocatableTable span { cursor: pointer; }

#relocatableTable p
{
    xxmargin: 0px 15px 0px 18px;
    padding: 0;
    color: #333333;
    line-height: 19px;
    font-size: 14px;
    font-weight: bold;
}

#relocateToTable
{
	border-spacing:10px 0px;
	display:inline-block;
	margin-left:10px
}

#relocateToTable td
{
    color: #333333;
    font-size: 11px;
    padding-left: 14px;
}

#relocateToTable tr.hdr td
{
    color: #666666;
    height: 22px;
    font-weight: bold;
}

#relocateToTable tr:first-child td
{
	padding-left:0px;
	text-indent:4px;
}

#relocateToTable tr:last-child td
{
	background-color:white;
	border:1px solid #bfbfbf;
	padding-left:4px;
}

table#numDealsTable
{
    xxpadding-top: 10px;
    display:inline-block;
    margin-left:20px;
}

#numDealsTable tr td
{
    padding: 0;
    margin: 0;
    height: 20px;
    vertical-align: center;
    font-size: 11px;
    color: #666666;
    font-weight: bold;
}

#numDealsTable tr td:first-child p
{
	margin-right:11px;
}

#numDealsTable img { cursor: pointer; margin: 0px 6px 0px 15px; }
#numDealsTable span { cursor: pointer; }

#numDealsTable p
{
    xxmargin: 0px 15px 0px 18px;
    padding: 0;
    color: #333333;
    line-height: 19px;
    font-size: 14px;
    font-weight: bold;
}





table#roleTable
{
    xxpadding-top: 10px;
    display:inline-block;
    margin-left:20px;
}

#roleTable tr td
{
    padding: 0;
    margin: 0;
    height: 20px;
    vertical-align: center;
    font-size: 11px;
    color: #666666;
    font-weight: bold;
}

#roleTable tr td:first-child p
{
	xxmargin-right:11px;
}

#roleTable img { cursor: pointer; margin: 0px 10px 0px 20px; }
#roleTable span { cursor: pointer; }

#roleTable p
{
    xxmargin: 0px 15px 0px 18px;
    padding: 0;
    color: #333333;
    line-height: 19px;
    font-size: 14px;
    font-weight: bold;
}

#peHouseTable
{
	border-spacing:10px 0px;
	display:inline-block;
	margin-left:10px
}

#peHouseTable td
{
    color: #333333;
    font-size: 11px;
    padding-left: 14px;
}

#peHouseTable tr.hdr td
{
    color: #666666;
    height: 22px;
    font-weight: bold;
}

#peHouseTable tr:first-child td
{
	padding-left:0px;
	text-indent:4px;
}

#peHouseTable tr:last-child td
{
	background-color:white;
	border:1px solid #bfbfbf;
	padding-left:4px;
}

#filterContent
{
    overflow-y: scroll;
    padding: 0 10px;
}
.filtersouter .searchButton
{
    border: 3px solid #fff;
    border-radius: 10px;
    background: #1207f3;
    font-weight: 700;
    text-transform: uppercase;
    min-width: 155px;
    height: 42px;
    line-height: 36px;
    color: #fff;
    margin: 10px 0 10px 5px;
    -webkit-box-shadow: -1px 0px 12px 0px rgba(0,0,0,0.58);
    -moz-box-shadow: -1px 0px 12px 0px rgba(0,0,0,0.58);
    box-shadow: -1px 0px 12px 0px rgba(0,0,0,0.58);
    padding: 0 10px;
}
.filtersouter .searchButton:hover
{
    -webkit-box-shadow: -1px 0px 6px 0px rgba(0,0,0,0.58);
    -moz-box-shadow: -1px 0px 6px 0px rgba(0,0,0,0.58);
    box-shadow: -1px 0px 6px 0px rgba(0,0,0,0.58);
}
.filtersouter .searchButton i
{
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    margin-left: 10px;
}
.filtersouter button, .filtersouter input[type=button], .filtersouter input[type=reset], .filtersouter input[type=submit]
{
    border: none;
}

@media screen and (max-width: 1024px) {
    #filterContent div
    {
        min-width: 9%;
    }
}
@media screen and (max-width: 768px) {
    #filterContent {
        overflow-y: hidden;
        height: auto;
        padding-bottom: 20px;
    }
    #filterContent div {
        min-width: 0;
        width: 48%;
        height:200px;
        overflow: hidden;
    }
    #filterContent > div:nth-child(5),
    #filterContent > div:nth-child(6),
    #filterContent > div:nth-child(5) div,
    #filterContent > div:nth-child(6) div {
        height: auto;
        overflow: auto;
    }
    #filtercontent div:nth-child(1) {
        height: 200px;
    }
    #filterContent div div
    {
        height:200px;
        overflow-y: scroll;
        width: 100%;
    }

    #filterContent {
        overflow-y: scroll;
        height: 250px;
        border: 1px solid #bdbdbd;
        border-radius: 10px;
    }
    #filterContent div {
        width: 98%;
        height: auto;
        overflow: hidden;
    }
    #filtercontent div:nth-child(1) {
        height: auto;
    }
    #filterContent div div {
        height: auto;
        overflow-y: hidden;
    }
}
@media screen and (max-width: 480px) {
    #filterContent {
        overflow-y: scroll;
        height: 250px;
        border: 1px solid #bdbdbd;
        border-radius: 10px;
    }
    #filterContent div {
        width: 98%;
        height: auto;
        overflow: hidden;
    }
    #filtercontent div:nth-child(1) {
        height: auto;
    }
    #filterContent div div {
        height: auto;
        overflow-y: hidden;
    }
}