body, p, * { margin: 0; padding: 0; font-family: Arial; }

/*input { -webkit-appearance: caret; }*/

/* remove orange field borders in Chrome */

*:focus { outline: none; }

body.page-loading:after {
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.9) url(../images/loader.gif) 50% 50% no-repeat;
}

/* page header */

#wrapper
    {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    }

#Header
    {
    width: 100%;
    height: 100px;
    background: url(../images/bg-headerfooter-3.gif) top left no-repeat;
    background-size: cover;
    }

/* page footer */

#Footer
    {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: url(../images/bg-headerfooter.gif) bottom left no-repeat;
    background-size: cover;
    clear: both;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #cccccc;
    }

#Footer span { padding-left: 22px; } 

/* Primary navigation in header */

#Primary
    {
    float: left;
    height: 34px;
    margin-top: 64px;
    margin-left: 22px;
    padding: 0px;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-radius: 2px 2px 0px 0px;
    }

#Primary li
    {
    float: left;
    height: 34px;
    line-height: 34px;
    list-style-type: none;
    font-size: 14px;
    font-weight: bold;
    background: url(../images/primary_off.gif) top left no-repeat;
    border-right: 1px solid #dddddd;
    }

#Primary li a
    {
    display: block;
    margin: 0;
    padding: 0px 10px;
    color: #666666;
    text-decoration: none;
    }

#Primary li:hover, #Primary li.on
    {
    background: url(../images/primary_on.gif) top left no-repeat;
    }

/* Page background */

#PageOuter
    {
    min-height: 87vh;
    /*height:83.1%;*/
    width:100%;
    font-size: 12px;
    background: url(../images/bg-page.gif) top left repeat;
    overflow-x:hidden;
    overflow-y:hidden;
    padding-bottom: 35px;
    /*postion:absolute;*/
    }

#PageInner
    {
    min-height: 80%;
    padding: 15px;
    position:relative;
    }

img.continue
    {
    border: 0;
    margin-top: 25px;
    float: right;
    }

/* positioning margins */

.mL { margin-left: 8px; } /* used on search page */
.mT { margin-top: 20px; } /* used on search page */


/* candidate page */


#candidateTable div { padding: 22px; }

.candidatePhoto { width: 172px; height: 222px; }
.candidatePhoto img { width: 170px; height: 220px; border: 1px solid #bbbbbb; }

/* .candidateLarge { width: 584px; height: 320px; background: url(bg-candidate-large.gif) top left no-repeat; }
.candidateLarge p { color: #333333; font-size: 24px; font-weight: bold; padding-bottom: 10px; }

.candidateSmall { width: 180px; height: 320px; background: url(bg-candidate-small.gif) top left no-repeat; }
.candidateSmall p { color: #333333; font-size: 14px; font-weight: bold; padding-bottom: 22px; }
.candidateSmall a { display: block; margin-bottom: 10px; }
.candidateSmall img { border: 0; }

.candidateLarge dl { margin: 0; padding: 0; }
.candidateLarge dt { float: left; margin: 0; padding: 5px 0px; color: #333333; font-size: 14px; line-height: 20px; font-weight: bold; width: 145px; clear: left; }
.candidateLarge dd { float: left; margin: 0; padding: 5px 0px; color: #333333; font-size: 14px; line-height: 20px; } */

/* candidate deals table */

table#dealsTable
    {
    xxmargin: 0px 22px;
    width: 960px;
    overflow:scroll;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
    background: #ffffff;
    }

#dealsTable tr td
    {
    border-bottom: 1px solid #cccccc;
    background-color: transparent;
    background-image: none;
    height: 30px;
    color: #333333;
    font-size: 11px;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    }

#dealsTable tr:nth-child(odd) { background: url(../images/tr-odd.gif) top left no-repeat !important; }
#dealsTable tr:nth-child(even) { background: url(../images/tr-even.gif) top left no-repeat !important; }
#dealsTable tr.hdr { background: url(../images/tr-header.gif) top left no-repeat !important; font-weight: bold; }

.buttonReturn { cursor: pointer; border: 0; margin: 17px 0px 0px 22px; }
.buttonReturn
{
    display: table;
    border: 3px solid #fff;
    border-radius: 10px;
    background: #1207f3;
    font-weight: 700;
    text-transform: uppercase;
    min-width: 185px;
    height: 44px;
    line-height: 37px;
    color: #fff;
    -webkit-box-shadow: -1px 0px 12px 0px rgba(0,0,0,0.58);
    -moz-box-shadow: -1px 0px 12px 0px rgba(0,0,0,0.58);
    box-shadow: -1px 0px 12px 0px rgba(0,0,0,0.58);
    padding: 0 10px;
}
.buttonReturn:hover
{
    -webkit-box-shadow: -1px 0px 6px 0px rgba(0,0,0,0.58);
    -moz-box-shadow: -1px 0px 6px 0px rgba(0,0,0,0.58);
    box-shadow: -1px 0px 6px 0px rgba(0,0,0,0.58);
    color: #fff;
    text-decoration: none;
}
.buttonReturn span
{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

/* various search page headings */

.orange { color: #ff6600; }
.blue { color: #0029ff; }

/* tabs for search page */

.tabShort { background: url(../images/bg-tab-short.gif) top left no-repeat; width: 150px; height: 35px; line-height: 42px; }
.tabShort span { color: #ffffff; font-size: 14px; font-weight: bold; padding-left: 20px; }

.tabLong { float: right; clear: right; background: url(../images/bg-tab-long.gif) top left no-repeat; width: 170px; height: 35px; line-height: 44px; }
.tabLong span { color: #ffffff; font-size: 14px; font-weight: bold; padding-left: 20px; }

.tabQuestion { float: right; clear: right; background: url(../images/bg-tab-question.gif) top left no-repeat; width: 170px; height: 35px; line-height: 44px; cursor: pointer; }
.tabQuestion span { color: #ffffff; font-size: 14px; font-weight: bold; padding-left: 20px; }

.tabContract { float: right; clear: right; background: url(../images/bg-tab-contract.gif) top left no-repeat; width: 170px; height: 35px; line-height: 44px; cursor: pointer; }
.tabContract span { color: #ffffff; font-size: 14px; font-weight: bold; padding-left: 20px; }

.tabExpand { float: right; clear: right; background: url(../images/bg-tab-expand.gif) top left no-repeat; width: 170px; height: 35px; line-height: 44px; cursor: pointer; }
.tabExpand span { color: #ffffff; font-size: 14px; font-weight: bold; padding-left: 20px; }

/* styled select boxes */

.selectBox
    {
    width: 155px;
    height: 42px;
    white-space: nowrap;
    overflow: hidden;
    background: url(../images/bg-input-select.gif) top left no-repeat;
    }

.selectBox select
    {
    -webkit-appearance: none;
    background: transparent;
    width: 183px;
    height: 18px;
    border: 0;
    padding: 0;
    margin: 12px 0px 0px 10px;
    font-size: 14px;
    line-height: 18px;
    }
    
/* alternative year-only dropdowns for search page */

.selectBox div
    {
    margin: 12px 0px 0px 12px;
    font-size: 14px;
    line-height: 18px;
    display: inline;
    }

select#dateFrom, select#dateTo { width: 135px; margin-left: 5px; }

/* styled text boxes */

.textBox
    {
    width: 155px;
    height: 42px;
    overflow: hidden;
    background: url(../images/bg-input-text.gif) top left no-repeat;
    }

.textBox input
    {
    background: transparent;
    width: 130px;
    height: 40px;
    border: 0;
    padding-left: 12px;
    font-size: 14px;
    }

/* Filters section on search page */

#FiltersOuter
    {
    float: right;
    width: 650px;
    }

#FiltersInner
    {
    clear: right;
    background: url(../images/bg-filters.gif) top left no-repeat;
    margin-top: 20px;
    margin-right: 22px;
    width: 650px;
    height: 240px;
    }

table#filtersTable
    {
    width: 635px;
    margin-left: 15px;
    }

#filtersTable tr td
    {
    padding: 0;
    margin: 0;
    vertical-align: top;
    font-size: 11px;
    line-height: 17px;
    color: #666666;
    font-weight: bold;
    }

#filtersTable img { cursor: pointer; margin: -1px 6px 0px 0px; }
#filtersTable span { cursor: pointer; position: relative; top: -6px; }

#filtersTable p
    {
    margin: 8px 0px 7px 0px;
    padding: 0;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    }
    
#FiltersQuestion
    {
    }

#FiltersExplained
    {
    position: absolute;
    display: none;
    z-index: 99;
    background: url(../images/bg-filters-explained.gif) top left no-repeat;
    margin-right: 22px;
    width: 650px;
    height: 240px;
    }

#FiltersExplained td { vertical-align: top; padding: 0px 15px; }

#FiltersExplained p
    {
    margin: 9px 0px;
    padding: 0;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    }

#FiltersExplained dl { margin: 0; padding: 0; }
#FiltersExplained dt { float: left; margin: 0; padding: 5px 0px; color: #666666; font-size: 11px; font-weight: bold; width: 40px; clear: left; }
#FiltersExplained dd { float: left; margin: 0; padding: 5px 0px; color: #666666; font-size: 11px; }
#FiltersExplained dl.exittype dt { width: 30px; }

/* Advanced section on search page */

#AdvancedOuter
    {
    clear: both;
    }

#AdvancedInner
    {
    clear: right;
    width: 980px;
    height: 95px;
    background: url(../images/bg-advanced.gif) top left no-repeat;
    }

#AdvancedInner input[type=text]
    {
    background: transparent;
    border: 0px;
    padding: 0px;
    width: 113px;
    margin-right: 10px;
    height: 20px;
    }

/* Status table in advanced section on search page */

table#statusTable
    {
    padding-top: 10px;
    }

#statusTable tr td
    {
    padding: 0;
    margin: 0;
    height: 30px;
    vertical-align: center;
    font-size: 11px;
    color: #666666;
    font-weight: bold;
    }

#statusTable img { cursor: pointer; margin: 0px 10px 0px 20px; }
#statusTable span { cursor: pointer; }

#statusTable p
    {
    margin: 0px 15px 0px 18px;
    padding: 0;
    color: #333333;
    line-height: 19px;
    font-size: 14px;
    font-weight: bold;
    }

/* Field table in advanced section on search page */

table#fieldTable
    {
    margin-left: 8px;
    }

#fieldTable td
    {
    color: #333333;
    font-size: 11px;
    padding-left: 14px;
    }

#fieldTable tr.hdr td
    {
    color: #666666;
    height: 22px;
    font-weight: bold;
    }

/* Results table in bottom section on search page */

p.resultsHeading
    {
    clear: both;
    margin: 14px 0px 0px 16px;
    color: #333333;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    }
    
    /*div.resultsNav { clear: both; margin-top: 22px; background: url(../images/tr-banner.gif) top left no-repeat; background-size: 100% 9%;}*/
div.resultsNav { clear: both; margin-top: 22px;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        background: #fff;
        border-left: 1px solid #bdbdbd;
        border-right: 1px solid #bdbdbd;
    }
table#resultsNav
    {
    width: 100%;
    }
table#resultsNav:first-child
    {
    margin-bottom: 5px;
    }
table#resultsNav:first-child td
    {
    height: 40px;
    }
table#resultsNav tr:first-child {
    background: #f3f3f3;
    -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.58);
    -moz-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.58);
    box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.58);
}
table#resultsNav tr {
    background: #fff;
    border: 1px solid #bdbdbd;
    border-left: none;
    border-right: none;
}
/*table#resultsNav:nth-child(1) tr:first-child {
    border-radius: 0;
}*/

table#resultsNav:nth-child(n+2) tr:hover {
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
table#resultsNav:nth-child(n+2) tr:nth-child(n+2) td {
    font-weight: normal;
}
table#resultsNav:nth-child(n+2) tr:first-child:hover {
    background: none;
}

table#resultsNav:nth-child(n+2) a:hover {
    color: #fff;
}

table#resultsNav td
    {
    margin: 0; padding: 0;
    height: 46px;
    line-height: 12px;
    text-align: right;
    font-size: 12px;
    font-weight: bold;
    color: #333333;
    white-space: nowrap;
    }
table#resultsNav td.left { padding-left: 18px; font-size: 14px; line-height: 14px; text-align: left; }
table#resultsNav span#pages { padding: 0px 15px; }

table#resultsNav td a { margin: 0; padding: 0; font-size: 12px; color: #333333; text-decoration: none; overflow: hidden;}
table#resultsNav td a img{
    transform: scale(1, 1);
}
table#resultsNav td a:hover img{
    transform: scale(1.1, 1.1);
}

table#resultsTable
    {
    width: 100%;
    /*overflow:scroll;*/
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
    background: #ffffff;
    word-wrap: break-word;
    }

#resultsTable tr td
    {
    border-bottom: 1px solid #cccccc;
    background-color: transparent;
    background-image: none;
    height: 40px;
    color: #333333;
    font-size: 11px;
    padding-left: 10px;
	padding-right: 10px;
	/*white-space:nowrap;*/
    }

#resultsTable tr:nth-child(odd) { background: url(../images/tr-odd.gif) top left; background-size: cover; }
#resultsTable tr:nth-child(even) { background: url(../images/tr-even.gif) top left; background-size: cover; }
#resultsTable tr.hdr { background: url(../images/tr-header.gif) top left; background-size: cover; font-weight: bold; }

/* top left section on search page */

.searchButton { position: relative;  margin-left: 6px; }
#SearchCriteria { width: 320px; }

#dateFromPane, #dateToPane
    {
    position: absolute;
    display: none;
    z-index: 99;
    width: 153px;
    height: 100px;
    background: #dddddd;
    border: 1px solid #aaaaaa;
    color: #666666;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    }

#dateFromPane p, #dateToPane p { font-size: 16px; color: #ffffff; margin: 5px 0px; }
#dateFromPane a, #dateToPane a { text-decoration: none; color: #666666; margin: 0px 2px; }

#dateFromText, #dateToText
    {
    }
@media screen and (max-width: 1024px) {
    table#resultsNav td
    {
        /*height: 36px;*/
    }
    #Footer {
        background-position: 50% 50%;
    }
}
@media screen and (max-width: 768px) {

#Header
    {
    background-position: 100% 50%;
    }
#Footer
	{
	background-position: 100% 0%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
	}

#PageInner #pass{
    min-width: 100%;
}
#update_btn a {
    font-size: 20px;
}
div.resultsNav {
    overflow-x: auto;
}
table#resultsNav td {
    white-space: normal;
}
table#resultsNav span#pages {
    white-space: nowrap;
}
table#resultsNav td.left {
    padding-left: 10px;
}
}
